<html>

<head></head>

<body>

<h1>Create Post</h1>

<form method='POST' action='/blog/add'>
<input type='text' placeHolder='title' name='title'>
<textarea name='body' placeHolder='Body of post'></textarea>
<button>Create</button>
</form>

</body>




</html>